
body {
    background-color: rgb(219, 218, 158);
}

h1 {
    background-color: black;
    color: crimson;
}

h2 {
    color: deeppink;
}

div {
    border: double cornflowerblue;
}

[class*="col"] {
    float: left;
    padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: both;
}



/* p
figure
img
figcaption
h3
ul
li
fieldset
legend
input
ol
hr */

footer {
    text-align: right;
}